*{
    font-family: 'Unbounded', serif; 
}

body {
    background-image: url(../Star\ BG.png);
}

#toggle {
    background-color: #119da1 ;
}

#toggle:hover {
    color:  #571f58;
    background-color: #57b12e;
}

.linknav {
    color:  #9ef576;
}

.linknav:hover {
    color:  #119da1;
}

.linknav:active {
    color:  #571f58;
}

.redes {
    background-color: #9ef576;
    border-radius: 5px;
    color: #070508;
    outline-color: #57b12e;
    opacity: 1;
}

.redes:hover {
    color:  #571f58;
    background-color: #119da1;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 1;
}

.botones {
    opacity: 0.9;
    border-color: #9ef576 !important;
}

.botones:hover {
    opacity: 1 !important;
    background-color: #bc1fbe !important;
    color: #070508 !important;
    scale: 1.1;
    transition: 1s;
}

h5 , p {
    color: #23dde3 !important;
    font-size: 1cm !important;
}

.card {
    background-color: #070508  !important;
}

.img-fluid:hover {
    z-index: 3;
    align-content: center !important;
    scale: 1.8;
    transition: 1s;
}

