.navbar {
    background-color:  #070508;
    font-family: 'Unbounded', serif; 
}

.travels {
    font-family: 'Unbounded', serif;
    font-size: 3rem;
}

.livesession {
    font-family: 'Unbounded', serif;
    font-size: 2.3rem;
}

.copyright {
    font-family: 'Unbounded', serif;
}

#toggle {
    background-color: #119da1 ;
}

#toggle:hover {
    color:  #571f58;
    background-color: #57b12e;
}

.linknav {
    color:  #57b12e;
}

.linknav:hover {
    color:  #119da1;
}

.linknav:active {
    color:  #571f58;
}

.imagennorthern {
    width: 100%;
}

.background-comun {
    background-color: #070508;
}

.redes {
    background-color: #9ef576;
    border-radius: 5px;
    color: #070508;
    outline-color: #57b12e;
    opacity: 0.3;
}

.redes:hover {
    color:  #571f58;
    background-color: #119da1;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 1;
}

.videonorther {
    width:60%;
    background-color: #070508;
}

.card-body {
    background-color: #070508;
    font-family: 'Unbounded', serif;
}

.textos {
    font-family: 'Unbounded', serif;
    color: #9ef576;
}

.noticias {
    background-color: #070508;
    background-image: url(https://drive.google.com/file/d/1l8RbaQNGaGFQNEG_2U9p10iJ01mUK_BF/view?usp=sharing);

}

.botones {
    opacity: 0.9;
}

.video-contedor{
    position: absolute;
    z-index: -100;
    overflow: hidden;
}

.video-contedor video {
    position: absolute;
}

.imagen-background {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: 10000000000000000000s;
}

.imagen-background:hover {
    opacity: 0;
    transition: 2s;
}
